@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.StaticImg{
  background-image: url('https://www.powerlook.in/_next/image?url=https%3A%2F%2Fcdn-media.powerlook.in%2Fmycustomfolder%2Fsmall_banner_1.jpg&w=640&q=75');
  background-size: contain;
}
